# Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/**/gradle-wrapper.jar
android/**/.gradle
android/**/build/
android/**/local.properties

# iOS
ios/**/Pods/
ios/**/.symlinks/
ios/**/Flutter/App.framework
ios/**/Flutter/Flutter.framework
ios/**/Flutter/ephemeral/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db